In [10]:
# Import necessary modules
import data_preprocessor as dp
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 1. Load the dataset
messy_data = pd.read_csv('../Data/messy_data.csv')
clean_data = messy_data.copy()

# 2. Preprocess the data
clean_data = dp.impute_missing_values(clean_data, strategy='mean')
clean_data = dp.remove_duplicates(clean_data)
clean_data = dp.normalize_data(clean_data)
clean_data = dp.remove_redundant_features(clean_data)

# 3. Save the cleaned dataset
clean_data.to_csv('../Data/clean_data.csv', index=False)

# 4. Train and evaluate the model
dp.simple_model(clean_data)

Accuracy: 0.842391304347826

In [11]:
messy_data.describe()

,target,b,c,f,h,j,k,l,n,o,p,q,r,t,u,v,w,x,y,z
count,920.000000,1196.000000,1196.000000,1196.000000,1158.000000,591.000000,1196.000000,1196.000000,1012.000000,1008.000000,1122.000000,1009.000000,1196.000000,1110.000000,1079.000000,1116.000000,1079.000000,397.000000,1196.000000,598.000000
mean,0.553261,0.004015,53.383779,0.001391,200.583765,-0.600216,0.007269,-0.013268,4.904847,137.780754,137.660298,137.259233,53.376221,0.872252,53.328760,132.247312,0.034028,0.667506,53.379991,-0.757779
std,0.497426,0.984837,9.534033,1.011656,110.061582,1.067309,2.498874,0.958741,0.200283,26.175380,25.890960,25.790053,9.603964,1.077211,9.645423,18.872281,0.995701,0.924021,9.564497,1.257376
min,0.000000,-3.308750,28.000000,-2.820047,0.000000,-5.954661,-24.268796,-2.802329,4.094345,60.000000,60.522848,60.035804,27.548190,-2.600000,28.743286,0.000000,-3.087673,0.000000,26.549257,-7.293222
25%,0.000000,-0.692960,47.000000,-0.633350,176.250000,-1.113061,-0.722036,-0.636907,4.787492,120.000000,119.742012,119.041270,46.857255,0.000000,46.541317,120.000000,-0.601836,0.000000,46.931375,-1.316941
50%,1.000000,0.004241,54.000000,-0.051965,224.000000,-0.324872,0.002258,-0.000074,4.941642,140.000000,139.676137,139.602369,54.126896,0.500000,54.148423,130.000000,0.035589,0.000000,54.448992,-0.439484
75%,1.000000,0.714572,60.000000,0.693539,270.000000,0.136188,0.699648,0.642745,5.062595,157.000000,157.382495,156.970305,60.324072,1.500000,60.418600,140.000000,0.723486,1.000000,59.812460,0.094453
max,1.000000,2.982511,77.000000,3.323155,603.000000,1.369476,27.315031,3.328148,5.273000,202.000000,200.680509,202.572685,77.484697,6.200000,78.520864,200.000000,3.933288,3.000000,79.712348,1.202416

In [12]:
clean_data.describe()

,target,b,f,h,j,k,l,t,v,w,x,z
count,920.0,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000
mean,0.553261,0.529281,0.455318,0.330311,0.730654,0.471152,0.455778,0.395267,0.660699,0.441719,0.223495,0.769255
std,0.497426,0.155201,0.164380,0.180693,0.097646,0.049435,0.158593,0.119747,0.092220,0.134027,0.180561,0.106312
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.421881,0.353618,0.294776,0.731068,0.456729,0.353222,0.295455,0.600000,0.364288,0.222502,0.769270
50%,1.0,0.528935,0.449743,0.366501,0.731068,0.470585,0.457668,0.386364,0.650000,0.444626,0.222502,0.769270
75%,1.0,0.640519,0.564757,0.442786,0.753595,0.483841,0.568300,0.465909,0.700000,0.520592,0.222502,0.813352
max,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000